{% set modifiers = small_feature_modifiers|default("") %}

<div class="small-feature mv4 has-media {{ small_feature_modifiers }}" {{attributes}}>
  <div class="the-media">
    {% if pl %}
      {{ media|raw }}
    {% else %}
      {{ media }}
    {% endif %}
  </div>
  <div class="small-feature__content">
    {{ body }}
  </div>
</div>